*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    font-size: 3rem;
    line-height: 1.5; 
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    place-content: center;
}

h1,p{
    text-align: center;
}

